// LABEL.SCSS

.label {

	&:before {
		content: '';
	}

	@include m(rect) {
		color: #fff;
		@include fz(12,12);
		@include QuickB;
		font-weight: bold;
		padding: 8px 10px;
		z-index: 10;
		background-size: 200% 100%;
		background-position: left;
		transition: 2s ease;
	}//m(rect)

	@include m(txt) {
		@include fz(12,24);
		@include QuickB;
		font-weight: bold;
		z-index: 10;

		&:before {
			content: '';
		}
	}//m(txt)
}//.label

[class^="icon"],
[class*=" icon"] {
	[class^="label"],
	[class*=" label"] {
		position: absolute;
		top: 0;
		left: 0;
	}
}



/* .label--rect
================================================== */

.icon-c .label--rect,
.item-c .label--rect {
	// background-color: $column-color;
		background-image: $column-gradient;

	&:before {
		content: 'コラム / COLUMN';
	}
}//.label-column

.icon-m .label--rect,
.item-m .label--rect {
	// background-color: $movie-color;
	background-image: $movie-gradient;

	&:before {
		content: 'ムービー / MOVIE';
	}
}//.label-movie

.icon-i .label--rect,
.item-i .label--rect {
	// background-color: $interview-color;
	background-image: $interview-gradient;

	&:before {
		content: 'インタビュー / INTERVIEW';
	}
}//.label-interview

.icon-d .label--rect,
.item-d .label--rect {
	// background-color: $discussion-color;
	background-image: $discussion-gradient;

	&:before {
		content: 'ディスカッション / DISCUSSION';
	}
}//.label-discussion

.icon-r .label--rect,
.item-r .label--rect {
	// background-color: $report-color;
	background-image: $report-gradient;

	&:before {
		content: 'リポート / REPORT';
	}
}//.label-report

.icon-k .label--rect,
.item-k .label--rect {
	// background-color: $kids-color;
	background-image: $kids-gradient;

	&:before {
		content: 'キッズ / KIDS';
	}
}//.label-kids

.icon-n .label--rect,
.item-n .label--rect {
	// background-color: $knowledge-color;
	background-image: $knowledge-gradient;

	&:before {
		content: 'ナレッジ / KNOWLADGE';
	}
}//.label-knowledge



/* .label--txt
================================================== */

.icon-c .label--txt,
.item-c .label--txt {
	color: $column-color;

	&:before {
		content: 'COLUMN / コラム';
	}
}//.label-column

.icon-m .label--txt,
.item-m .label--txt {
	color: $movie-color;

	&:before {
		content: 'MOVIE / ムービー';
	}
}//.label-movie

.icon-i .label--txt,
.item-i .label--txt {
	color: $interview-color;

	&:before {
		content: 'INTERVIEW / インタビュー';
	}
}//.label-interview

.icon-d .label--txt,
.item-d .label--txt {
	color: $discussion-color;

	&:before {
		content: 'DISCUSSION / ディスカッション';
	}
}//.label-discussion

.icon-r .label--txt,
.item-r .label--txt {
	color: $report-color;

	&:before {
		content: 'REPORT / リポート';
	}
}//.label-report

.icon-k .label--txt,
.item-k .label--txt {
	color: $kids-color;

	&:before {
		content: 'KIDS / キッズ';
	}
}//.label-kids

.icon-n .label--txt,
.item-n .label--txt {
	color: $knowledge-color;

	&:before {
		content: 'KNOWLADGE / ナレッジ';
	}
}//.label-kids






// .icon-c a:after {
// 	content: $icon-arrow_br;
// 	@include fz(20,20);
// 	color: $column-color;
// 	position: absolute;
// 	bottom: 20px;
// 	right: 20px;
// }
//
// .icon-m a:after {
// 	content: $icon-arrow_br;
// 	@include fz(20,20);
// 	color: $movie-color;
// 	position: absolute;
// 	bottom: 20px;
// 	right: 20px;
// }
//
// .icon-i a:after {
// 	content: $icon-arrow_br;
// 	@include fz(20,20);
// 	color: $interview-color;
// 	position: absolute;
// 	bottom: 20px;
// 	right: 20px;
// }
//
// .icon-d a:after {
// 	content: $icon-arrow_br;
// 	@include fz(20,20);
// 	color: $discussion-color;
// 	position: absolute;
// 	bottom: 20px;
// 	right: 20px;
// }
//
// .icon-r a:after {
// 	content: $icon-arrow_br;
// 	@include fz(20,20);
// 	color: $report-color;
// 	position: absolute;
// 	bottom: 20px;
// 	right: 20px;
// }
//
// .icon-k a:after {
// 	content: $icon-arrow_br;
// 	@include fz(20,20);
// 	color: $kids-color;
// 	position: absolute;
// 	bottom: 20px;
// 	right: 20px;
// }
//
// .icon-gr a:after {
// 	content: $icon-arrow_br;
// 	@include fz(20,20);
// 	color: $light-gray;
// 	position: absolute;
// 	bottom: 20px;
// 	right: 20px;
// }
