// HEADER.SCSS

.l-header {

	@include e(body) {
		width: 100%;
		max-width: $max-inner;
		margin: 0 auto;

		display: flex;
		flex-flow: column wrap;
		justify-content: flex-start;
		align-items: center;
	}//e(body)

	@include e(ttl) {
		padding: 16px 0 8px;
		text-align: center;

		img {
			width: 100%;
			max-width: 210px;
		}
	}//e(ttl)

	@include e(nav) {

	}//e(nav)
}//.l-header
