// TOP.SCSS

.p-pager {
	font-size: 0;
	margin: 0 auto 8px;
	padding: 16px 0;
	text-align: center;

	@include pc {
		margin: 0 auto 16px;
		padding: 16px 0;
	}

	@include e(item) {
		display: inline-block;
		margin: 0 8px;

		a {
			display: block;
			width: 12px;
			height: 12px;
			position: relative;
			border-radius: 50%;
			border: solid 1px $gray;

			@include pc {
				width: 16px;
				height: 16px;
			}

			&:before {
				content: '';
				display: block;
				width: 12px;
				height: 12px;
				margin: auto;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				border-radius: 50%;
				background-color: transparent;
				transform: scale(0);
				transform-origin: center;
				transition: .3s ease;

				@include pc {
					width: 16px;
					height: 16px;
				}
			}

			&.active {
				&:before {
					background-color: $gray;
					transform: scale(1);
				}
			}
		}
	}//e(item)
}



.p-message {

	@include e(header) {
		padding: 25px 0 80px;
		text-align: center;
		overflow: hidden;
		position: relative;

		@include pc {
			padding: 50px 0 120px;
		}

		&:before {
			content: '';
			display: block;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 160px 1400px 0 0;
			border-color: $orange transparent transparent transparent;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;

			@include pc {
				border-width: 320px 1280px * 2 0 0;
			}
		}

		&:after {
			content: '';
			display: block;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 1280px 180px 0;
			border-color: transparent #fff transparent transparent;
			position: absolute;
			top: 0;
			right: 0;
			z-index: 1;

			@include pc {
				border-width: 0 1280px 260px 0;
			}
		}

		h3 {
			@include fz(20,25);
			color: #000;
			letter-spacing: 0.05em;
			position: relative;
			z-index: 3;

			@include pc {
				@include fz(40,50);
			}
		}

		span {
			@include KreonB;
			font-size: 2em;
			color: #fff;
			letter-spacing: 0.05em;
			text-shadow: 0 1px 0 #000, 0 -1px 0 #000, 1px 0 0 #000, -1px 0 0 #000;
			position: relative;
			margin-right: 8px;

			&:after {
				content: '';
				display: block;
				width: calc(100% + 4px);;
				height: 8px;
				position: absolute;
				bottom: 6px;
				left: -4px;
				background-color: #ff0;
				z-index: -1;

				@include pc {
					height: 16px;
					bottom: 16px;
				}
			}
		}
	}//e(header)

	@include e(body) {
		display: inline-flex;
		margin-top: -90px;
		padding: 90px 20px 32px;
		background-color: $bg-gray;

		flex-flow: column wrap;
		justify-content: flex-start;
		align-items: center;

		@include pc {
			margin-top: -180px;
			padding: 180px 0 80px;

			flex-flow: row nowrap;
			justify-content: flex-start;
			align-items: stretch;
		}
	}//e(body)

	@include e(copy) {
		width: 100%;

		@include pc {
			width: 600 / 1280 * 100%;
		}

		h3 {
			text-align: center;

			@include pc {
				margin-top: 56px;
				margin-left: 20%;
			}
		}

		span {
			display: block;
			@include KreonB;
			@include fz(40,40);
			width: 200px;
			margin: auto;
			white-space: nowrap;
			position: relative;
			box-shadow: 0 -16px 0 0 #ff0 inset;

			@include pc {
				@include fz(62,62);
				width: 300px;
			}

			& + span {
				margin-top: 16px;
			}

			&.p-conf {
				letter-spacing: 0.01em;
			}

			&.p-chng {
				letter-spacing: 0.07em;
			}

			&.p-comp {
			}
		}
	}//e(copy)

	@include e(txt) {
		width: 100%;
		margin-top: 32px;

		@include pc {
			width: 680 / 1280 * 100%;
			margin-top: 0;
			padding-right: 48px;
		}

		p {
			@include JPfont;
			@include fz(12,24);

			@include pc {
				@include fz(16,32);
			}

			& + p {
				margin-top: 1em;
			}
		}
	}//e(txt)
}//.p-message



.p-news {
	margin-top: 16px;
	overflow: hidden;

	@include pc {
		margin-left: 36px;
	}

	@include e(item) {
		display: block;
		color: #000;
		padding: 20px 0 8px;
		border-bottom: solid 1px $gray;
		overflow: hidden;

		@include pc {
			padding: 20px 0 16px;

			display: flex;
			flex-flow: row nowrap;
			justify-content: flex-start;
			align-items: flex-start;
		}
	}//e(item)

	@include e(date) {
		display: inline-block;
		width: 80px;
		@include fz(12,16);
		float: left;

		@include pc {
			display: block;
			@include fz(14,24);
			width: 108px;
			flex: 1 0 108px;
			float: none;
		}
	}//e(date)

	@include e(label) {
		display: inline-block;
		@include fz(10,10);
		color: #fff;
		font-weight: 700;
		width: 54px;
		margin-right: 26px;
		margin-top: 8px;
		padding: 4px 8px;
		text-align: center;
		white-space: nowrap;
		float: left;
		clear: left;

		@include pc {
			@include fz(12,12);
			width: 65px;
			margin-top: -2px;
			margin-right: 0;
			padding: 8px;
			flex: 1 0 65px;
			float: none;
		}

		@include m(jhs3) {
			background-color: $red;
		}//m(jhs3)

		@include m(jhs2) {
			background-color: $cyan;
		}//m(jhs2)

		@include m(jhs1) {
			background-color: $green;
		}//m(jhs1)

		@include m(hs) {
			background-color: $blue;
		}//m(hs)

		@include m(es) {
			background-color: $orange;
		}//m(es)
	}//e(label)

	@include e(desc) {
		@include fz(12,24);
		width: calc(100% - 80px);
		float: right;
		margin-top: -20px;

		@include pc {
			@include fz(14,24);
			margin-top: 0;
			padding-left: 30px;
			flex: 0 1 calc(100% - 173px);
			float: none;
		}
	}//e(desc)

	@include e(btn) {
		float: right;
		margin-right: 16px;
	}//e(btn)
}//.p-news



.p-recruit {
	margin-top: 56px;

	@include e(ttl) {
		@include KreonL;
		@include fz(24,24);
		color: #fff;
		padding: 4px 12px;
		white-space: nowrap;
		background-color: $recruit-color;
		border-bottom: solid 2px #fff;
	}//e(ttl)

	@include e(body) {
		padding: 12px;
		border: solid 4px $recruit-color;
		border-top: solid 8px $recruit-color;
		overflow: hidden;
	}//e(body)

	@include e(txt) {
		@include fz(14,24);
	}//e(txt)

	@include e(btn) {
		@include JPfont;
		@include fz(12,18);
		float: right;
		margin-top: 16px;
		margin-right: 16px;

		&:before,
		&:after {
			height: 2px;
		}
	}//e(btn)
}//.p-recruit



.p-access {
	margin: 24px 0 36px;

	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-items: flex-start;

	@include pc {
		margin: 24px 0 72px;

		flex-flow: row nowrap;
		align-items: stretch;
	}

	@include e(map) {
		width: 100%;
		margin-bottom: 8px;
		background-color: $gray;

		@include pc {
			width: 580 / 980 * 100%;
			margin-bottom: 0;
		}

		&:before {
			content: '';
			display: block;
			padding-top: 50%;

			@include pc {
				padding-top: 376 / 980 / 2 * 100%;
			}
		}
	}//e(map)

	@include e(info) {
		width: 100%;

		@include pc {
			width: 376 / 980 * 100%;
			margin-left: 24 / 980 * 100%;
		}
	}//e(info)

	@include e(img) {
		width: 100%;
		position: relative;

		background-image: url(/common/img/exterior.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top -18px center;

		&:before {
			content: '';
			display: block;
			padding-top: 50%;
		}

		img {
			width: 100%;
		}
	}//e(img)

	@include e(txt) {
		margin-top: 12px;

		dt {
			@include fz(16,24);
			font-weight: 700;
		}

		dd {
			@include fz(12,20);
		}
	}//e(txt)
}
