// COLOR.SCSS

/* colors
================================================== */

.cl-black {
	color: #000 !important;
}

.cl-white {
	color: #fff !important;
}

.cl-m {
	color: $movie-color !important;
}

.cl-c {
	color: $column-color !important;
}

.cl-i {
	color: $interview-color !important;
}

.cl-d {
	color: $discussion-color !important;
}

.cl-r {
	color: $report-color !important;
}

.cl-k {
	color: $kids-color !important;
}

.bg-black {
	background-color: #000 !important;
}

.bg-white {
	background-color: #fff !important;
}

.bg-m {
	background-color: $movie-color !important;
}

.bg-c {
	background-color: $column-color !important;
}

.bg-i {
	background-color: $interview-color !important;
}

.bg-d {
	background-color: $discussion-color !important;
}

.bg-r {
	background-color: $report-color !important;
}

.bg-k {
	background-color: $kids-color !important;
}
